.skills__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 2rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name__div {
    display: flex;
    align-items: center;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}


.react__logo {
    background: url(../../assets//react.png);
}

.node__logo {
    background: url(../../assets//node.png);
}

.express__logo {
    background: url(../../assets//express.png);
}

.javascript__logo {
    background: url(../../assets//javascript.png);
}

.flutter {
    background: url(../../assets//flutter.png);
}

.dart {
    background: url(../../assets//dart.png);
}

.androidstudio {
    background: url(../../assets//androidstudio.png);
}

.java {
    background: url(../../assets//java.png);
}

.aws {
    background: url(../../assets//aws.png);
}

.git {
    background: url(../../assets//git.png);
}

.github {
    background: url(../../assets//github.png);
}

.problemsolving {
    background: url(../../assets//problemsolving.png);
}

.dsa {
    background: url(../../assets//dsa.png);
}

.cpp {
    background: url(../../assets//cpp.png);
}

.sql {
    background: url(../../assets//sql.png);
}

.mongodb {
    background: url(../../assets//mongodb.png);
}

.firebase {
    background: url(../../assets//firebase.png);
}




.skills__logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    width: 30px;
    height: 30px;
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1145px) {
    .skills__container {
        grid-template-columns: repeat(2, 350px);
    }
  }

@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
  }
  